@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.playwrite-it-moderna {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto; /* Adjust as needed */
  font-weight: 400; /* Adjust the weight as per your requirement */
  font-style: normal;
}